table{
    width: 70%;
    margin: 0 auto;
    font-family: Georgia, serif;
}
table tr{
    line-height: 2em;
}


thead{
    background:linear-gradient(#6495ED 0%, #6495ED 100%);
}

tfoot{
    background: linear-gradient(#6495ED 0%, #6495ED 100%);
    color: white;
    font-weight: bold;
}

tbody>tr:nth-child(2n){
    background: darkblue;
}

tbody>tr:nth-child(2n+1){
    background: white;
}
tr:not(:first-child) td:hover {
    cursor: pointer;
}
